@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
        <p>Patient oriented Ultrasound Charting System</p>
        <h5>Sharing Ultrasound Images for Contined Medical Education.</h5>
    </div>

  <!-- Masthead -->
   
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <p class="mb-5 text-center">Build a personl ultrasound page for your patients!</p>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>EASY TO USE</h3>
            <p class="lead mb-0">Easy to use EMR, open platform!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>PEER REVIEW</h3>
            <p class="lead mb-0">Fellow professionals comment your data for better!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>MULTIPLATFORM</h3>
            <p class="lead mb-0">Professional communities!</p>
          </div>
        </div>
      </div>
    </div>
  </section>





